*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    width: 400px;
    height: 600px;
    background-color: black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.screen-container{
    width: 100%;
    height: 300px;
    padding: 10px 5px;
    display: flex;
    background-color: black;
}

.buttons-container{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.screen{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.display{
    margin-right: 5px;
    margin-left: auto;
    font-size: 48px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    gap: 4px;
}

button{
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    background-color: lightgray;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(211, 211, 211, 0.87);
}

button:active{
    background-color: rgba(211, 211, 211, 0.507);
}

.clear{
    background-color: red;
    color: white;
}

.clear:hover{
    background-color: rgb(230, 0, 0);
}

.clear:active{
    background-color: rgb(182, 0, 0);
}


.equalTo{
    background-color: blue;
    color: white;
}

.equalTo:hover{
    background-color: rgb(0, 0, 230);
}

.equalTo:active{
    background-color: rgb(0, 0, 182);
}